<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-23-21-220-167.compute-1.amazonaws.com:5432/d998i6stekof61?sslmode=require</property>
		<property name="hibernate.connection.username">mcabexjjotxkqa</property>
		<property name="hibernate.connection.password">4623b1c914ab4243ece4f9f6b26f7c1ed5b8c8276ddb91ff8bbdc7749569ae08</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.me.pojo.Person" />
		<mapping class="com.me.pojo.Farmer" />
		<mapping class="com.me.pojo.Supplier" />
		<mapping class="com.me.pojo.Retailer" />
		<mapping class="com.me.pojo.Address" />
		<mapping class="com.me.pojo.UserAccount" />
		<mapping class="com.me.pojo.Product" />
		<mapping class="com.me.pojo.ProductCategory" />
		<mapping class="com.me.pojo.Crop" />
		<mapping class="com.me.pojo.CropCategory" />
		<mapping class="com.me.pojo.FarmerOrder" />
		<mapping class="com.me.pojo.OrderItem" />
		<mapping class="com.me.pojo.Bids" />
	</session-factory>
</hibernate-configuration>
